# Assignment 4

In [1]:
# Import necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException
import time as t
import warnings
warnings.filter = 'ignore'
from selenium.webdriver import ActionChains

### Q1

In [2]:
# web page autometion

driver = webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [3]:
# fetching name
import re
Name = []
name = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name:
    Name.append(re.sub("(\[)(\d+)(\])","",(i.text)))

In [4]:
# fetching uploder name

uploder_name = []
Uname = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in Uname:
    uploder_name.append((i.text))

In [5]:
#fetching views

Views = []
view = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in view:
    Views.append(i.text)

In [6]:
#fetching uplode_date

uplode_date = []
date = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in date:
    uplode_date.append(i.text)

In [7]:
driver.close()

In [8]:
# Creating Data Frame

you_tube_df = pd.DataFrame({
    "Rank"           : range(1,31),
    "Name of video"  : Name,
    "Uploder name"   : uploder_name,
    "Views(billions)": Views,
    "Uplode Date"    : uplode_date
})
you_tube_df.set_index("Rank",inplace = True)
you_tube_df

,Name of video,Uploder name,Views(billions),Uplode Date
Rank,,,,
1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
2,"""Despacito""",Luis Fonsi,8.38,"January 12, 2017"
3,"""Johny Johny Yes Papa""",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
4,"""Bath Song""",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
5,"""Shape of You""",Ed Sheeran,6.20,"January 30, 2017"
6,"""See You Again""",Wiz Khalifa,6.17,"April 6, 2015"
7,"""Wheels on the Bus""",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
8,"""Phonics Song with Two Words""",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
9,"""Uptown Funk""",Mark Ronson,5.15,"November 19, 2014"
10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,5.07,"February 27, 2018"
11,"""Gangnam Style""",Psy,5.05,"July 15, 2012"
12,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.58,"January 31, 2012"
13,"""Dame Tu Cosita""",Ultra Records,4.55,"April 5, 2018"
14,"""Axel F""",Crazy Frog,4.34,"June 16, 2009"
15,"""Sugar""",Maroon 5,4.00,"January 14, 2015"
16,"""Counting Stars""",OneRepublic,3.97,"May 31, 2013"
17,"""Baa Baa Black Sheep""",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
18,"""Roar""",Katy Perry,3.96,"September 5, 2013"
19,"""Lakdi Ki Kathi""",Jingle Toons,3.91,"June 14, 2018"
20,"""Waka Waka (This Time for Africa)""",Shakira,3.85,"June 4, 2010"
21,"""Sorry""",Justin Bieber,3.77,"October 22, 2015"
22,"""Thinking Out Loud""",Ed Sheeran,3.73,"October 7, 2014"
23,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
24,"""Shree Hanuman Chalisa""",T-Series Bhakti Sagar,3.69,"May 10, 2011"
25,"""Dark Horse""",Katy Perry,3.67,"February 20, 2014"
26,"""Perfect""",Ed Sheeran,3.67,"November 9, 2017"
27,"""Let Her Go""",Passenger,3.61,"July 25, 2012"
28,"""Faded""",Alan Walker,3.59,"December 3, 2015"
29,"""Girls Like You""",Maroon 5,3.56,"May 31, 2018"
30,"""Lean On""",Major Lazer Official,3.55,"March 22, 2015"

### Q2

In [9]:
#making webpage autometion
driver = webdriver.Chrome()
driver.get("http://www.bcci.tv/")

In [10]:
#fetching fixture page

fixture = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [11]:
# creating empty list
Series = [] 
Place  = []
Date = []
Time = []

In [12]:
#Fetching data
series = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    Series.append(i.text)
Series

['ENGLAND TOUR OF INDIA 2023-24',
 'ENGLAND TOUR OF INDIA 2023-24',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024']

In [13]:
#Fetching data
place = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place:
    Place.append(i.text)
    
Place

['JSCA International Stadium Complex, Ranchi',
 'Himachal Pradesh Cricket Association Stadium, Dharamsala',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare']

In [14]:
#Fetching data
date = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    Date.append(i.text)
    
Date

['23 FEBRUARY, 2024',
 '7 MARCH, 2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024',
 '13 JULY, 2024',
 '14 JULY, 2024']

In [15]:
#Fetching data
time = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time.append(i.text)
    
Time

['9:30 AM IST',
 '9:30 AM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [16]:
driver.close()

In [17]:
# Creating DataFrame
Cricket_Date = pd.DataFrame({
    "Series Name": Series,
    "Place"      : Place,
    "Date"       : Date,
    "Time"       : Time
})
Cricket_Date

,Series Name,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
1,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

### Q3

In [18]:
# making web page autometion
driver = webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [20]:
#importing ActionChain
from selenium.webdriver import ActionChains

action = ActionChains(driver)
action.move_to_element(driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")).perform()

In [21]:
#feching gdp page
click_ind = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
click_ind.click()

In [22]:
# fetching gdp of state

gdp_state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_state.click()
t.sleep(3)

In [23]:
#extracting data
import re
Rank = []
rank = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    Rank.append((i.text))

In [24]:
#extracting data
State = []
state = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    State.append(i.text)
    
State

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Madhya Pradesh',
 'Andhra Pradesh',
 'Telangana',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir-UT',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [25]:
#extracting data
GSDP_22_23= []
gsdp_22_23 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in gsdp_22_23:
    GSDP_22_23.append(i.text)
    
GSDP_22_23

['-',
 '2,364,514',
 '2,257,575',
 '2,241,368',
 '-',
 '1,554,992',
 '1,413,620',
 '1,322,821',
 '1,317,728',
 '1,313,391',
 '-',
 '1,043,759',
 '994,154',
 '774,869',
 '751,396',
 '673,107',
 '493,167',
 '457,608',
 '393,722',
 '302,621',
 '227,927',
 '195,405',
 '-',
 '72,636',
 '-',
 '-',
 '42,697',
 '42,756',
 '-',
 '-',
 '-',
 '-',
 '-']

In [26]:
#extracting data
GSDP_21_22= []
gsdp_21_22 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp_21_22:
    GSDP_21_22.append(i.text)
    
GSDP_21_22

['3,108,022',
 '2,071,286',
 '1,974,532',
 '1,962,725',
 '1,937,066',
 '1,363,926',
 '1,218,193',
 '1,136,137',
 '1,133,837',
 '1,128,907',
 '932,470',
 '904,642',
 '870,665',
 '670,881',
 '650,302',
 '614,227',
 '412,612',
 '406,416',
 '358,863',
 '272,159',
 '199,917',
 '176,269',
 '82,604',
 '62,550',
 '45,635',
 '44,238',
 '38,785',
 '37,557',
 '36,594',
 '35,124',
 '31,913',
 '27,824',
 '10,371']

In [27]:
#extracting data
Share_21_22= []
share = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    Share_21_22.append(i.text)
    
Share_21_22

['13.24%',
 '8.82%',
 '8.41%',
 '8.36%',
 '8.25%',
 '5.81%',
 '5.19%',
 '4.84%',
 '4.83%',
 '4.81%',
 '3.97%',
 '3.85%',
 '3.71%',
 '2.86%',
 '2.77%',
 '2.62%',
 '1.76%',
 '1.73%',
 '1.53%',
 '1.16%',
 '0.85%',
 '0.75%',
 '0.35%',
 '0.27%',
 '0.19%',
 '0.19%',
 '0.17%',
 '0.16%',
 '0.16%',
 '0.15%',
 '0.14%',
 '0.12%',
 '0.04%']

In [28]:
#extracting data
GDP = []
gdp = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp:
    GDP.append(i.text)
    
GDP

['417.163',
 '278.011',
 '265.024',
 '263.440',
 '259.996',
 '183.068',
 '163.507',
 '152.494',
 '152.185',
 '151.523',
 '125.157',
 '121.422',
 '116.862',
 '90.047',
 '87.284',
 '82.442',
 '55.381',
 '54.550',
 '48.167',
 '36.530',
 '26.833',
 '23.659',
 '11.087',
 '8.396',
 '6.125',
 '5.938',
 '5.206',
 '5.041',
 '4.912',
 '4.714',
 '4.283',
 '3.735',
 '1.392']

In [29]:
driver.close()

In [30]:
#Creting DataFrame
GDP_df = pd.DataFrame({
    "Rank"                          : Rank,
    "State"                         : State,
    "GSDP(22-23)- at current prices": GSDP_22_23,
    "GSDP(21-22)- at current prices": GSDP_21_22,
    "Share(21-22)"                  : Share_21_22,
    "GDP($ billion)"                : GDP
})

GDP_df.set_index("Rank",inplace = True)
GDP_df

,State,GSDP(22-23)- at current prices,GSDP(21-22)- at current prices,Share(21-22),GDP($ billion)
Rank,,,,,
1,Maharashtra,-,"3,108,022",13.24%,417.163
2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
5,Gujarat,-,"1,937,066",8.25%,259.996
6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
10,Telangana,"1,313,391","1,128,907",4.81%,151.523
11,Kerala,-,"932,470",3.97%,125.157
12,Delhi,"1,043,759","904,642",3.85%,121.422
13,Haryana,"994,154","870,665",3.71%,116.862
14,Odisha,"774,869","670,881",2.86%,90.047
15,Bihar,"751,396","650,302",2.77%,87.284
16,Punjab,"673,107","614,227",2.62%,82.442
17,Assam,"493,167","412,612",1.76%,55.381
18,Chhattisgarh,"457,608","406,416",1.73%,54.550
19,Jharkhand,"393,722","358,863",1.53%,48.167
20,Uttarakhand,"302,621","272,159",1.16%,36.530
21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
23,Goa,-,"82,604",0.35%,11.087
24,Tripura,"72,636","62,550",0.27%,8.396
25,Chandigarh,-,"45,635",0.19%,6.125
26,Puducherry,-,"44,238",0.19%,5.938
27,Meghalaya,"42,697","38,785",0.17%,5.206
28,Sikkim,"42,756","37,557",0.16%,5.041
29,Manipur,-,"36,594",0.16%,4.912
30,Arunachal Pradesh,-,"35,124",0.15%,4.714
31,Nagaland,-,"31,913",0.14%,4.283
32,Mizoram,-,"27,824",0.12%,3.735
33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

### Q4

In [31]:
#Web driver autometion
driver = webdriver.Chrome()
driver.get("https://github.com/")  ## fatching web page

In [32]:
#hovering on list
action = ActionChains(driver)
action.move_to_element(driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')).perform()

In [33]:
#fetching tranding repo. page
tranding_repo = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
tranding_repo.click()
t.sleep(3)

In [34]:
#extracting data
Title = []
title = driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in title:
    Title.append(i.text)

In [35]:
# fetching data from links
links = []
url = driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in url:
    links.append(i.get_attribute("href"))

In [36]:
# creating empty list
Description = []
Contributors_count = []
Language_used = []

for Url in links:
    driver.get(Url)
    t.sleep(2)

    try:
        description = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append("Description Not Present")

    try:
        count = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append('Not present')
        
    try:
        Language = driver.find_element(By.XPATH,'//ul[@class="list-style-none"]')
        Language_used.append(Language.text)
    except NoSuchElementException:
        Language_used.append("-")

In [37]:
#cleaning data
import re
new_Language_used = []
for l in Language_used:
    new_Language_used.append(re.sub(r"\n\d+.\d+%|\n"," ",l))

In [38]:
driver.close()

In [39]:
#creting dataFrame
git_df = pd.DataFrame({
    "Title"             : Title,
    "Description"       : Description,
    "Contributors count": Contributors_count,
    "Language used"     : new_Language_used
})
git_df

,Title,Description,Contributors count,Language used
0,charlax / professional-programming,A collection of learning resources for curious...,Not present,Python HTML
1,I-S00N / I-S00N,Description Not Present,Not present,-
2,chatchat-space / Langchain-Chatchat,Langchain-Chatchat（原Langchain-ChatGLM）基于 Langc...,118,Python
3,GopeedLab / gopeed,A modern download manager that supports all pl...,Not present,
4,krahets / hello-algo,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++,...",Not present,Java Swift C++ Go JavaScript Python Other
5,1Panel-dev / 1Panel,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,46,
6,Kalabasa / htmz,html with targeted manipulation zones,Not present,JavaScript HTML
7,zhayujie / chatgpt-on-wechat,基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT...,50,chatgpt-on-wechat
8,FujiwaraChoki / MoneyPrinterV2,Automate the process of making money online.,Not present,Python Shell
9,ChatGPTNextWeb / ChatGPT-Next-Web,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,Not present,TypeScript SCSS Other
10,karpathy / minbpe,"Minimal, clean, code for the Byte Pair Encodin...",Not present,Python
11,maybe-finance / maybe,The OS for your personal finances,55,Ruby HTML JavaScript Dockerfile Other
12,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,114,-
13,QuivrHQ / quivr,Your GenAI Second Brain 🧠 A personal productiv...,Not present,
14,mut-ex / gligen-gui,An intuitive GUI for GLIGEN that uses ComfyUI ...,Not present,JavaScript CSS HTML Python
15,sherlock-project / sherlock,🔎 Hunt down social media accounts by username ...,Not present,Python Dockerfile
16,rustdesk / rustdesk,"An open-source remote desktop, and alternative...",Not present,rustdesk RustDesk
17,songquanpeng / one-api,OpenAI 接口管理 & 分发系统，支持 Azure、Anthropic Claude、G...,Not present,
18,LargeWorldModel / LWM,Description Not Present,3,Python Shell
19,xtekky / gpt4free,The official gpt4free repository | various col...,179,
20,jlevy / the-art-of-command-line,"Master the command line, in one page",167,-
21,tw93 / Pake,🤱🏻 Turn any webpage into a desktop app with Ru...,27,tw93 Tw93
22,oddfar / campus-imaotai,i茅台app自动预约，每日自动预约，支持docker一键部署,12,campus-imaotai-api campus-imaotai-web
23,facebookresearch / jepa,PyTorch code and models for V-JEPA self-superv...,4,Python
24,lobehub / lobe-chat,"🤖 Lobe Chat - an open-source, high-performance...",62,

### Q5

In [40]:
# making webpage autometion
driver = webdriver.Chrome()
driver.get("https://www.billboard.com/")

In [41]:
#fetching billbord page
chart = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()
t.sleep(5)
driver.maximize_window()

In [43]:
#fetching tranding 100 billbord page
top_chart = driver.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-justify-content-center"]/a')
top_chart.click()
t.sleep(2)

In [44]:
#creating empty list
This_week = []
music = []
Singar = []
last_week = []
peak_rank = []
Weeks_on_board = []

In [45]:
#extracting data
week = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // lrv-u-background-color-black lrv-u-color-white u-width-100 u-width-55@mobile-max u-width-55@tablet-only lrv-u-height-100p lrv-u-flex lrv-u-flex-direction-column lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey"]')
for i in week:
    This_week.append(i.text)

In [46]:
#extracting data
m = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in m:
    music.append(i.text)

In [47]:
#extracting data
singer1 = driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
Singar.append(singer1.text)
singar2 = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in singar2:
    Singar.append(i.text)

In [48]:
#extracting data
l_week = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
for i in l_week:
    last_week.append(i.text)

In [49]:
#extracting data
rank = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
for i in rank:
    peak_rank.append(i.text)

In [50]:
#extracting data
board = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')
for i in board:
    Weeks_on_board.append(i.text)

In [51]:
driver.close()

In [52]:
#creating DataFarme
billboard_df = pd.DataFrame({
    'This week'    : This_week,
    'Song name'    : music ,
    'Artist name'  : Singar,
    'Last week'    : last_week,
    'Peak rank'    : peak_rank,
    'Weeks on board': Weeks_on_board
})
billboard_df.set_index("This week",inplace = True)
billboard_df

,Song name,Artist name,Last week,Peak rank,Weeks on board
This week,,,,,
1,Lovin On Me,Jack Harlow,1,1,14
2,Texas Hold 'Em,Beyonce,-,2,1
3,Carnival,¥$: Kanye West & Ty Dolla $ign,-,3,1
4,Beautiful Things,Benson Boone,3,3,4
5,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
96,Mmhmm,BigXthaPlug,83,65,8
97,Monaco,Bad Bunny,77,5,18
98,Prove It,21 Savage & Summer Walker,75,43,5
99,Perro Negro,Bad Bunny & Feid,82,20,15
100,Sunday Service,Latto,-,100,1

### Q6

In [53]:
#Web page Autometion
driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [54]:
#extracting data
Rank = []
rank = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)

In [55]:
#extracting data
Tital = []
tital = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in tital:
    Tital.append(i.text)

In [56]:
#extracting data
Author = []
author = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author.append(i.text)

In [57]:
#extracting data
Volume_sales = []
sales = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in sales:
    Volume_sales.append(i.text)

In [58]:
#extracting data
Publiser = []
publiser = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publiser:
    Publiser.append(i.text)

In [59]:
#extracting data
Genre = []
genre = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)

In [60]:
driver.close()

In [61]:
#Creting dataframe
book_df = pd.DataFrame({
    'Rank'        : Rank,
    'Title'       : Tital ,
    'Author'      : Author,
    'Volume Sales': Volume_sales,
    'Publisher'   : Publiser,
    'Genre'       : Genre
})
book_df.set_index("Rank",inplace = True)
book_df

,Title,Author,Volume Sales,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Q7

In [78]:
#webpage autometion
driver = webdriver.Chrome()
driver.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")

In [79]:
#extracting data
import re
series_name = [] 
name = driver.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-3 fRBzBY"]/div[2]/div[1]/a/h3')
for i in name:
    series_name.append(re.sub(r"^\d+.\s","",(i.text)))

In [80]:
#extracting data
Year = [] 
year = driver.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-3 fRBzBY"]/div[2]/div[2]/span[1]')
for i in year:
    Year.append(i.text)

In [81]:
#extracting data
Url = []

url = driver.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-3 fRBzBY"]/div[2]/div[1]/a')
for i in url:
    Url.append(i.get_attribute('href'))

In [82]:
#extracting data from multiple pages
Rating = []
Gener = []
Voting = []

for page in Url:
    driver.get(page)
    t.sleep(2)
    
    try:
        rating = driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[1]/span[1]')
        Rating.append(rating.text)
    except NoSuchElementException:
        Rating.append("Not Present")
    try:
        gener = driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[1]/div[2]')
        Gener.append(gener.text)
    except NoSuchElementException:
        Gener.append("Not Present")
    
    try:
        voting = driver.find_element(By.XPATH,'//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[2]/div/div[1]/a/span/div/div[2]/div[3]')
        Voting.append(voting.text)
    except NoSuchElementException:
        Voting.append("Not Present")
    
t.sleep(2)

In [83]:
#filtering data
New_gener = []
for i in Gener:
    New_gener.append(i.replace("\n",","))

In [84]:
driver.close()

In [85]:
#Creating dataFarme
Tv_sereies_df = pd.DataFrame({
    "Series Name"           : series_name,
    "Year"                  : Year,
    "Rating(out of 10)"     : Rating,
    "Gener"                 : New_gener,
    "Voting"                : Voting
})
Tv_sereies_df

,Series Name,Year,Rating(out of 10),Gener,Voting
0,Game of Thrones,2011–2019,,"Action,Adventure,Drama",2.3M
1,Breaking Bad,2008–2013,,"Crime,Drama,Thriller",2.1M
2,Stranger Things,2016–2025,,"Drama,Fantasy,Horror",1.3M
3,Friends,1994–2004,,"Comedy,Romance",1.1M
4,The Walking Dead,2010–2022,,"Drama,Horror,Thriller",1.1M
5,Sherlock,2010–2017,,"Crime,Drama,Mystery",988K
6,The Big Bang Theory,2007–2019,,"Comedy,Romance",860K
7,Dexter,2006–2013,,"Crime,Drama,Mystery",759K
8,How I Met Your Mother,2005–2014,,"Comedy,Drama,Romance",723K
9,The Office,2005–2013,,Comedy,698K
10,True Detective,2014–,,"Crime,Drama,Mystery",640K
11,Peaky Blinders,2013–2022,,"Crime,Drama",636K
12,Better Call Saul,2015–2022,,"Crime,Drama",635K
13,The Boys,2019–,,"Action,Comedy,Crime",633K
14,Black Mirror,2011–,,"Drama,Mystery,Sci-Fi",632K
15,Rick and Morty,2013–,,"Animation,Adventure,Comedy",594K
16,Lost,2004–2010,,"Adventure,Drama,Fantasy",590K
17,The Mandalorian,2019–,,"Action,Adventure,Fantasy",579K
18,Vikings,2013–2020,,"Action,Adventure,Drama",575K
19,Prison Break,2005–2017,,"Action,Crime,Drama",574K
20,The Witcher,2019–,,"Action,Adventure,Drama",564K
21,Squid Game,2021–,,"Action,Drama,Mystery",530K
22,Westworld,2016–2022,,"Drama,Mystery,Sci-Fi",529K
23,House of Cards,2013–2018,,Drama,528K
24,Money Heist,2017–2021,,"Action,Crime,Drama",526K
25,House,2004–2012,,"Drama,Mystery",504K
26,The Last of Us,2023–,,"Action,Adventure,Drama",500K
27,Attack on Titan,2013–2023,,"Animation,Action,Adventure",497K
28,Supernatural,2005–2020,,"Drama,Fantasy,Horror",478K
29,Modern Family,2009–2020,,"Comedy,Drama,Romance",476K
30,Suits,2011–2019,,"Comedy,Drama",471K
31,Daredevil,2015–2018,,"Action,Crime,Drama",471K
32,Narcos,2015–2017,,"Biography,Crime,Drama",465K
33,The Sopranos,1999–2007,,"Crime,Drama",462K
34,Arrow,2012–2020,,"Action,Adventure,Crime",445K
35,Dark,2017–2020,,"Crime,Drama,Mystery",437K
36,The Simpsons,1989–,,"Animation,Comedy",433K
37,Fargo,2014–2024,,"Crime,Drama,Thriller",415K
38,Mr. Robot,2015–2019,,"Crime,Drama,Thriller",415K
39,Loki,2021–2023,,"Action,Adventure,Fantasy",406K
40,South Park,1997–,,"Animation,Comedy",403K
41,The Wire,2002–2008,,"Crime,Drama,Thriller",372K
42,Death Note,2006–2007,,"Animation,Crime,Drama",372K
43,The Flash,2014–2023,,"Action,Adventure,Drama",367K
44,House of the Dragon,2022–,,"Action,Adventure,Drama",363K
45,Family Guy,1999–2025,,"Animation,Comedy",362K
46,Homeland,2011–2020,,"Crime,Drama,Mystery",359K
47,Avatar: The Last Airbender,2005–2008,,"Animation,Action,Adventure",356K
48,Brooklyn Nine-Nine,2013–2021,,"Comedy,Crime",356K
49,Wednesday,2022–,,"Comedy,Crime,Fantasy",352K

### Q8

In [98]:
#webpage autometion
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [99]:
#fetching page
dataset = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
dataset.click()

In [101]:
#procesing page
page = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select')
page.click()
option = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select/option[5]')
option.click()

In [102]:
#creting empty list
Dataset_name = [] 
Data_type  = []
Task = []
Attribute_type = [] 
No_of_instances  = []
No_of_attribute = []
Year = []

In [103]:
#extracting data from mutiple page
start, end = 0,28
for page1 in range(start,end):
    
    name = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in name:
        Dataset_name.append(i.text)
    
    d_type = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
    for i in d_type:
        Data_type.append(i.text)
        
    task = driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/p')
    for i in task:
        Task.append(i.text)
        
    a_type = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
    for i in a_type:
        Attribute_type.append(i.text)
        
    instance = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
    for i in instance:
        No_of_instances.append(i.text)
        
    attribute = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
    for i in attribute:
        No_of_attribute.append(i.text)
        
    svg = driver.find_elements(By.XPATH,"""//*[local-name()='svg' and @class="absolute right-1 top-1/2 -translate-y-1/2 fill-primary transition-transform"]""")
    for i in svg:
        i.click()
        t.sleep(2)
    
    year = driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
    for i in year:
        Year.append(i.text)

        
    next_button = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')

In [104]:
driver.close()

In [106]:
#creting dataframe

dataset_df = pd.DataFrame({
    "Dataset name"    : Dataset_name,
    "Data type"       : Data_type,
    "Task"            : Task,
    "Attribute type"  : Attribute_type,
    "No of instances" : No_of_instances,
    "No_of_attribute" : No_of_attribute,
    "Year"            : Year
})
dataset_df

,Dataset name,Data type,Task,Attribute type,No of instances,No_of_attribute,Year
0,Iris,Tabular,"A small classic dataset from Fisher, 1936. One...",Classification,150 Instances,4 Features,7/1/1988
1,Dry Bean Dataset,Multivariate,"Images of 13,611 grains of 7 different registe...",Classification,13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Multivariate,"4 databases: Cleveland, Hungary, Switzerland, ...",Classification,303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,A total of 3810 rice grain's images were taken...,Classification,3.81K Instances,7 Features,10/6/2019
4,Adult,Multivariate,Predict whether income exceeds $50K/yr based o...,Classification,48.84K Instances,14 Features,5/1/1996
...,...,...,...,...,...,...,...
695,Auto MPG,Multivariate,"Revised from CMU StatLib library, data concern...",Regression,398 Instances,7 Features,7/7/1993
696,Breast Cancer Wisconsin (Original),Multivariate,Original Wisconsin Breast Cancer Database,Classification,699 Instances,9 Features,7/15/1992
697,Spambase,Multivariate,Classifying Email as Spam or Non-Spam,Classification,4.6K Instances,57 Features,7/1/1999
698,Predict students' dropout and academic success,Tabular,A dataset created from a higher education inst...,Classification,4.42K Instances,36 Features,12/13/2021
699,Glass Identification,Multivariate,From USA Forensic Science Service; 6 types of ...,Classification,214 Instances,9 Features,9/1/1987